@page "/"
@namespace BilingualBlazor.Pages

@using BilingualBlazor.Shared
@using BilingualBlazor.Utils
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Common> Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var requestCultureFeature = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    var twoLetterRequestCulture = requestCultureFeature.RequestCulture.UICulture.TwoLetterISOLanguageName;
    var toggle = twoLetterRequestCulture.Equals("en", StringComparison.CurrentCultureIgnoreCase) ? "Français" : "English";
    var alternateTwoLetterRequestCulture = twoLetterRequestCulture.Equals("en", StringComparison.CurrentCultureIgnoreCase) ? "fr" : "en"; ;
    var path = HttpContext.Request.Path;
    var queryString = HttpContext.Request.QueryString.HasValue ? HttpContext.Request.QueryString.Value : "";
    var alternate = RouteHelper.GetAlternatePath(path, twoLetterRequestCulture) + queryString;
}

<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="@twoLetterRequestCulture" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@twoLetterRequestCulture" dir="ltr">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>Content page</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <!-- Meta data -->
    <meta name="description" content="@Localizer["Description"]">
    <!-- Meta data-->
    <!-- Load closure template scripts -->
    <script src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
    <script src=@($"https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-{twoLetterRequestCulture}.js")></script>
    <noscript>
        <!-- Write closure fall-back static file -->
        <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/refTop.html -->
    </noscript>
    <!-- Write closure template -->
    <script>
        document.write(wet.builder.refTop({
            "isApplication": true
        }));
    </script>
    <base href="~/" />
</head>
<body vocab="https://schema.org/" typeof="WebPage">
    <div id="def-top">
        <!-- Write closure fall-back static file -->
        <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/custommenuTop-en.html -->
    </div>
    <!-- Write closure template -->
    <script>
        var defTop = document.getElementById("def-top");
        defTop.outerHTML = wet.builder.top({
            "appName": [{ "text": "@Localizer["Title"]", "href": "/@twoLetterRequestCulture/" }],
            "lngLinks": [{ "lang": "@alternateTwoLetterRequestCulture", "href": "@alternate", "text": "@toggle" }],
            "breadcrumbs": [{
                "title": "Home",
                "href": "@($"https://www.canada.ca/{twoLetterRequestCulture}/index.html")"
            },
            {
                "title": "@Localizer["Title"]"                
            }]
        });
    </script>
    <main role="main" property="mainContentOfPage" class="container">
        <app>
            <component type="typeof(App)" render-mode="ServerPrerendered" />
        </app>

        <div class="alert alert-info">
            <h2>@Localizer["Title"]</h2>
            <hr />
            <h2>Debug Information</h2>
            <p>two letter culture: @twoLetterRequestCulture</p>
            <p>alternate two letter culture: @alternateTwoLetterRequestCulture</p>
            <p>alternate link: @alternate</p>
            <p>toggle text: @toggle</p>
            <p>breadcrumb: <span id="bread"></span></p>
        </div>

        <div id="def-preFooter">
            <!-- Write closure fall-back static file -->
            <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/preFooter-en.html -->
        </div>
        <!-- Write closure template -->
        <script>
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
                "dateModified": "2020-12-08",
                "showPostContent": false,
                "showFeedback": false,
                "showShare": false
            });
        </script>
    </main>
    <div id="def-footer">
        <!-- Write closure fall-back static file -->
        <!-- /ROOT/app/cls/WET/gcweb/v4_0_28/cdts/static/appFooter-en.html -->
    </div>
    <!-- Write closure template -->
    <script>
        var defFooter = document.getElementById("def-footer");
        defFooter.outerHTML = wet.builder.footer({
            "showFeatures": false
        });
    </script>
    <!-- Write closure template -->
    <script>
        document.write(wet.builder.refFooter({
            "isApplication": true
        }));
    </script>
    <script>
        (() => {
            const toggle = document.querySelector('#wb-lng ul li a');
            toggle.addEventListener('click', () => {
                window.location = toggle.getAttribute('href');
            });
        })();
    </script>
    <script>
        function SetTitle(title) {
            document.title = title;
        }
    </script>
    <script>
        function SetBreadcrumb(value) {
            document.getElementById("bread").textContent = value;
        }
    </script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>