@page "/en"
@page "/fr"

@inherits BasePageComponent

@inject IStringLocalizer<Index> Localizer
@inject NavigationManager NavigationManager

<PageTitle Value="@Localizer["Hello"]" />
<Breadcrumb Value="Breadcrumb" />
<h1>@Localizer["Hello"]</h1>

<p><button class="btn btn-primary" @onclick="NavigateToCounterComponent">User page</button></p>
<p><button class="btn btn-primary" @onclick="NavigateToRequestComponent">Request page</button></p>
<p><button class="btn btn-primary" @onclick="NavigateToDownloadComponent">Download page</button></p>

<ul>
    <li><a href="@Localizer["User"]">User Page</a></li>
    <li><a href="@Localizer["Request"]">Request Page</a></li>
    <li><a href="@Localizer["Download"]">Download Page</a></li>
</ul>

@code
{
    private void NavigateToCounterComponent()
    {
        NavigationManager.NavigateTo(Localizer["User"], forceLoad:true);
    }

    private void NavigateToRequestComponent()
    {
        NavigationManager.NavigateTo(Localizer["Request"], forceLoad: true);
    }

    private void NavigateToDownloadComponent()
    {
        NavigationManager.NavigateTo(Localizer["Download"], forceLoad: true);
    }
}